*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.question-block {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: grid;

  background-color: white;
  display:grid;
  grid-template-columns:1fr;
  display:grid;
  place-items: center;
  z-index: 1;
  top:0;
  grid-template-rows: 300px 1fr;
}

.question-title {
  position: fixed;
  display: grid;

  background-color:blueviolet;
  display:grid;
  
  place-items: center;
  z-index: 1;
  top:0;
  
}